<div class="row mt-3 mb-5 mx-3">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center first_col">
        <div class="card mt-3">
            <div class="card-header">
                <h2 class="card-title"> {{school.name}} </h2>
            </div>
            <div class="card-body">
                <p class="card-text text-justify">
                    {{school.description}}
                </p>
                <br>
                <p class="card-text text-muted mt-3">
                    Teléfono de contacto: {{school.telephone}}
                </p>
                <p class="card-text text-muted">
                    Correo: {{school.email}}
                </p>
                <p class="card-text text-muted">
                    imagen: {{school.image}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 overflow-auto second_col">
        <div class="container-fluid mt-3">

            <div class="card mb-3" *ngFor="let new of news">
                <div class="card-header">
                    <h2 class="card-title text-capitalize"> {{new.title}} </h2>
                </div>
                <div class="card-body">

                    <p class="card-text text-justify mb-3"> {{new.description}} </p>
                </div>
                <div class="pic_holder mb-3">
                    <img [src]="new.image" class="card-img-top">
                </div>
                <div class="card-footer text-right">
                    <small class="form-text text-muted ">
                        {{new.date}}
                    </small>
                </div>
            </div>

        </div>
    </div>
</div>