<div class="container-fluid mt-2 mx-2">
    <div class="row">
        <div class="col-3">
            <hr>
            filtrar por nivel
            <form [formGroup]="filterLevel" (ngSubmit)="filter()">

                <select class="form-group custom-select" formControlName="level"
                    [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                    <option [ngValue]="null" disabled selected>Seleccione un nivel</option>

                    <option [ngValue]="j" *ngFor="let j of levels">{{j.name}}</option>
                </select>


                <button class="btn btn-info btn-block">Filtrar</button>

            </form>
            <hr>
            <!-- <button class="btn btn-info btn-block" [routerLink]="['/','admin','crear-nivel']">Crear nuevo
                nivel</button> -->
            <button class="btn btn-info btn-block" [routerLink]="['/','admin','crear-clases']">Crear nueva
                clase</button>
            <br><br>
            <div *ngIf="submitted" class="alert alert-dismissible alert-light mt-3">
                <h6>{{msg}}</h6>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-4 text-center">
                    <h4>
                        Grado
                    </h4>

                </div>
                <div class="col-2 text-center">
                    <h4>
                        Sección
                    </h4>
                </div>
            </div>
            <hr>
            <ng-template ngFor let-c [ngForOf]="classes">
                <div class="row">
                    <div class="col-4 text-center">
                        {{c.level}}
                    </div>
                    <div class="col-2 text-center">
                        <p class="text-capitalize">{{c.name}}</p>
                    </div>

                    <!-- <div class="col-2 text-center">
                        <button class="btn btn-success" [value]="e.id_employee"
                            (click)="editEmployee($event.currentTarget)">Editar</button>
                    </div> -->

                </div>
                <hr>
            </ng-template>
        </div>
    </div>
</div>