<div class="container-fluid mt-2 mx-2">
    <div class="row">
        <div class="col-3">
            <hr>
            filtrar por nivel
            <form [formGroup]="filterLevel" (ngSubmit)="filter()">

                <select class="form-group custom-select" formControlName="level"
                [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                    <option [ngValue]="null" disabled selected>Seleccione un nivel</option>

                    <option [ngValue]="j" *ngFor="let j of levels">{{j.name}}</option>
                </select>

            
                <button class="btn btn-success btn-block">Filtrar</button>

            </form>
            <hr>
            <button class="btn btn-success btn-block" [routerLink]="['/','admin','crear-nivel']">Crear nuevo
                nivel</button>
            <button class="btn btn-success btn-block" [routerLink]="['/','admin','crear-clases']">Crear nueva
                clase</button>
        </div>
        <div class="col-9">
            <hr>
            lista de clases
            <hr>
        </div>
    </div>
</div>