<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-uppercase sticky-top">
    <a class="navbar-brand font-weight-normal" [routerLink]="['']">Escuela Digital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-normal">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['crear']" routerLinkActive="active">Crea aviso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['mis-publicaciones']" routerLinkActive="active">Mis avisos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['ajustes']" routerLinkActive="active">Ajustes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Salir</a>
            </li>
        </ul>
    </div>
</nav>