<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="classForm" (ngSubmit)="createClass()">

                <div class="form-group">
                    <label class="font-weight-bold">Nivel</label>
                    <select class="form-control custom-select" formControlName="level"
                        [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                        <option [ngValue]="null" disabled selected>Seleccione un nivel</option>
                        <option [ngValue]="j" *ngFor="let j of levels">{{j.name}}</option>
                    </select>
                </div>

                <!-- <div class="form-group">
                    <select class="form-control custom-select" formControlName="job"
                        [ngClass]="{ 'is-invalid': submitted && f.job.errors }">

                        <option [ngValue]="null" disabled selected>Seleccione un puesto</option>
                        <option [ngValue]="j" *ngFor="let j of jobs">{{j.name}}</option>

                    </select>
                </div> -->

                <div class="form-group">
                    <label class="font-weight-bold">Encargado:</label>
                    <select class="form-control custom-select" formControlName="employee"
                        [ngClass]="{ 'is-invalid': submitted && f.employee.errors }">

                        <option [ngValue]="null" disabled selected>Seleccione:</option>
                        <option [ngValue]="j" *ngFor="let j of employees">{{j.name}} {{j.last_name}} - {{j.id_card}}
                        </option>

                    </select>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Nombre</label>
                    <input type="text" class="form-control" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">El nombre es necesario.</div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Crear clase</button>
            </form>
        </div>
    </div>
</div>