<div class="container-fluid mt-2 mx-2">
    <div class="row">
        <div class="col-3">
            <hr>
            <h6>Filtrar por puesto:</h6>
            <form [formGroup]="jobFilter" (ngSubmit)="filterByJob()">
                <div class="form-group">
                    <select class="form-control custom-select" formControlName="job"
                        [ngClass]="{ 'is-invalid': submittedJob && jobC.job.errors }">

                        <option [ngValue]="null" disabled selected>Seleccione un puesto</option>
                        <option [ngValue]="j" *ngFor="let j of jobs">{{j.name}}</option>

                    </select>
                </div>

                <button type=" submit" class="btn btn-success btn-block">Filtrar</button>
            </form>


            <hr>
            filtro por clase
            <button class="btn btn-success btn-block">Filtrar</button>
            <hr>
            <button class="btn btn-success btn-block" [routerLink]="['/','admin','crear-puesto']">Crear nuevo
                job</button>
            <button class="btn btn-success btn-block" [routerLink]="['/','admin','crear-empleado']">Crear nuevo
                empleado</button>
            <hr>

        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-2">
                    <h3>
                        Cedula
                    </h3>

                </div>
                <div class="col-2">
                    Nombre
                </div>
                <div class="col-2">
                    Primer Apellido
                </div>
                <div class="col-2">
                    Segundo Apellido
                </div>
            </div>
            <hr>
            <ng-template ngFor let-e [ngForOf]="employees">
                <div class="row">
                    <div class="col-2">
                        {{e.id_card}}
                    </div>
                    <div class="col-2">
                        <p class="text-uppercase">{{e.name}}</p>
                    </div>
                    <div class="col-2">
                        <p class="text-uppercase">{{e.last_name}}</p>
                    </div>
                    <div class="col-2">
                        <p class="text-uppercase">{{e.second_last_name}}</p>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success" [value]="e.id_employee"
                            (click)="resetPassword($event.currentTarget)">Restablecer
                            contraseña.</button>
                    </div>
                    <!-- <div class="col-2">
                        <button class="btn btn-danger" [value]="e.id_employee"
                            (click)="foo($event.currentTarget)">Eliminar.</button>
                    </div> -->
                </div>
                <hr>
            </ng-template>


        </div>
    </div>
</div>