<div class="container-fluid mt-2 mx-2">
    <div class="row">
        <div class="col-3 mt-2">
            <div class="card">
                <div class="card-body">
                    <hr>
                    <h6>Filtrar por puesto:</h6>
                    <form [formGroup]="jobFilter" (ngSubmit)="filterByJob()">
                        <div class="form-group">
                            <select class="form-control custom-select" formControlName="job"
                                [ngClass]="{ 'is-invalid': submittedJob && jobC.job.errors }">

                                <option [ngValue]="null" disabled selected>Seleccione un puesto</option>
                                <option [ngValue]="j" *ngFor="let j of jobs">{{j.name}}</option>

                            </select>
                        </div>

                        <button type=" submit" class="btn btn-info btn-block">Filtrar</button>
                    </form>
                    <hr>
                    <hr>
                    <button class="btn btn-info btn-block" [routerLink]="['/','admin','crear-puesto']">Crear nuevo
                        puesto</button>
                    <button class="btn btn-info btn-block" [routerLink]="['/','admin','crear-empleado']">Crear nuevo
                        empleado</button>
                    <hr>

                </div>
            </div>
            <div *ngIf="submittedJob" class="alert alert-dismissible alert-light mt-3">
                <h6>{{msg}}</h6>
            </div>
        </div>
        <div class="col-9 mt-2">
            <div class="row">
                <div class="col-2 text-center">
                    <h4>
                        Cedula
                    </h4>

                </div>
                <div class="col-2 text-center">
                    <h4>
                        Nombre
                    </h4>
                </div>
                <div class="col-2 text-center">
                    <h4>
                        Primer Apellido
                    </h4>

                </div>
                <div class="col-2 text-center">
                    <h4>
                        Segundo Apellido
                    </h4>

                </div>
            </div>
            <hr>
            <ng-template ngFor let-e [ngForOf]="employees">
                <div class="row">
                    <div class="col-2 text-center">
                        {{e.id_card}}
                    </div>
                    <div class="col-2 text-center">
                        <p class="text-capitalize">{{e.name}}</p>
                    </div>
                    <div class="col-2 text-center">
                        <p class="text-capitalize">{{e.last_name}}</p>
                    </div>
                    <div class="col-2 text-center">
                        <p class="text-capitalize">{{e.second_last_name}}</p>
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-success" [value]="e.id_employee"
                            (click)="resetPassword($event.currentTarget)">Restablecer
                            contraseña.</button>
                    </div>

                    <div class="col-2 text-center">
                        <button class="btn btn-success" [value]="e.id_employee"
                            (click)="editEmployee($event.currentTarget)">Editar</button>
                    </div>

                </div>
                <hr>
            </ng-template>


        </div>
    </div>
</div>