<div class="container my_container">
    <div id="gallery" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#gallery" data-slide-to="0" class="active"></li>
            <li data-target="#gallery" data-slide-to="1"></li>
            <li data-target="#gallery" data-slide-to="2"></li>
            <li data-target="#gallery" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="div_holder">
                <div *ngIf="photo" class="carousel-item active pic_holder">
                    <img [src]="photo.image" class="d-block w-100">
                </div>
                <div class="carousel-item pic_holder" *ngFor="let i of gallery">
                    <img [src]="i.image" class="d-block w-100">
                </div>

            </div>
        </div>
        <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>