<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label>Puestos existentes:</label>
                <select class="form-control custom-select">

                    <!-- <option [ngValue]="null" disabled selected>Seleccione un puesto</option> -->

                    <option [ngValue]="j" *ngFor="let j of levels">{{j.name}}</option>

                </select>
            </div>
            <hr>
            <hr>
            <form [formGroup]="levelForm" (ngSubmit)="createLevel()">
                <div class="form-group">
                    <label>Nombre del puesto:</label>
                    <input class="form-control" type="text" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                </div>
                <button class="btn btn-primary btn-block">Crear</button>
            </form>
            <br>
            <button [routerLink]="['/','admin','clases']" class="btn btn-warning">Volver</button>
        </div>

    </div>
    <div *ngIf="submitted" class="alert alert-dismissible alert-light mt-3">
        <h6>{{msg}}</h6>
    </div>
</div>